// welcome.pug
doctype html
html
  head
    title Welcome!
  body
    h1 Welcome to Our Service!
    p Hello #{username}, your account has been successfully created!

    block subject
      | Welcome to Our Service!
