MONGO_URI =mongodb://localhost:27017/job-board
mongoDb = "job-board"
PORT = 5004
onlineDb= "mongodb+srv://exzobaidulkazi:tapMTRazUYw4mod6@cluster0.f143vc0.mongodb.net"


## Email Configuration


DEFAULT_SENDER_EMAIL="ariful.node82@gmail.com",
SMTP_HOST="localhost"
SMTP_PORT="1025"
QUEUE_URL="amqp://localhost"